*.psd filter=lfs diff=lfs merge=lfs -text
*.vcd filter=lfs diff=lfs merge=lfs -text
*.dat filter=lfs diff=lfs merge=lfs -text
*.so filter=lfs diff=lfs merge=lfs -text
*.dylib filter=lfs diff=lfs merge=lfs -text
*.weights filter=lfs diff=lfs merge=lfs -text
PROCAI/proctoring_ai/models/yolov3.weights filter=lfs diff=lfs merge=lfs -text
shape_predictor_68_face_landmarks.dat filter=lfs diff=lfs merge=lfs -text
venv/lib/python3.11/site-packages/clang/native/libclang.dylib filter=lfs diff=lfs merge=lfs -text
venv/lib/python3.11/site-packages/mediapipe/python/_framework_bindings.cpython-311-darwin.so filter=lfs diff=lfs merge=lfs -text
venv/lib/python3.11/site-packages/jaxlib/mlir/_mlir_libs/libjaxlib_mlir_capi.dylib filter=lfs diff=lfs merge=lfs -text
PROCAI/proctoring_ai/models/yolov3.weights588dysy_.tmp filter=lfs diff=lfs merge=lfs -text
models/yolov3.weights4bh6i2zf.tmp filter=lfs diff=lfs merge=lfs -text
PROCAI/proctoring_ai/models/yolov3[[:space:]](1).weights filter=lfs diff=lfs merge=lfs -text
myenv/lib/python3.10/site-packages/tensorflow/libtensorflow_cc.2.dylib filter=lfs diff=lfs merge=lfs -text
venv/lib/python3.11/site-packages/jaxlib/xla_extension.so filter=lfs diff=lfs merge=lfs -text
PROCAI/proctoring_ai/models/yolov3.weightsz0g9sj8t.tmp filter=lfs diff=lfs merge=lfs -text
venv/lib/python3.11/site-packages/tensorflow/libtensorflow_cc.2.dylib filter=lfs diff=lfs merge=lfs -text
